<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="partials/header:: header"></div>
    <title>Browse Page</title>
    <link rel="stylesheet" href="/css/browse.css">
    <link rel="stylesheet" href="/css/loading.css">

</head>
<body>
<nav th:replace="~{partials/navbar :: nav}"></nav>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <h1 class="browse-h1">Let's search for your pawfect friend!</h1>
            <div class="col">
                <div class="search">
                    <form action="/api/data/search" id="search-form" th:object="${searchForm}" method="get">
                        <select id="type" name="type" class="categoryDropdown" th:field="${searchForm.type}">
                            <option value="cat" selected>Cats</option>
                            <option value="dog">Dogs</option>
                            <option value="small-furry">Rodents</option>
                            <option value="bird">Birds</option>
                            <option value="rabbit">Rabbits</option>
                            <option value="barnyard">Barnyard</option>
                            <option value="scales-fins-other">Scales/Fins</option>
                            <!-- Add more categories as needed -->
                        </select>
                        <select id="age" name="age" class="ageDropdown" th:field="${searchForm.age}">
                            <option value="baby" selected>Baby</option>
                            <option value="young">Young</option>
                            <option value="adult">Adult</option>
                            <option value="senior">Senior</option>
                            <!-- Add more age options as needed -->
                        </select>
                        <select id="size" name="size" class="sizeDropdown" th:field="${searchForm.size}">
                            <option value="small" selected>Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                            <!-- Add more size options as needed -->
                        </select>
                        <input type="text" id="zipcode" name="zipcode" class="zipcode" th:field="${searchForm.zipcode}"
                               placeholder="Enter ZIP code">
                        <button type="submit" id="search-button" class="searchButton">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome -
                             https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.
                              -->
                                <style>svg {
                                    fill: #ffffff
                                }</style>
                                <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1
                              322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7
                              99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28. 3c9.4-9.4 9.4-24.6.1-34zM208
                            336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div id="popupModal" class="popupModal"></div>
            </div>
        </div>

        <div class="null-user-message" sec:authorize="!isAuthenticated()">
            <h2>Login to foster one of these cuties!</h2>
        </div>

        <div class="hamsterLoadingContainer">
            <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster"
                 id="hamsterLoader" style="display: none;">
                <div class="hamster-loader">

                    <div class="wheel"></div>
                    <div class="hamster">
                        <div class="hamster__body">
                            <div class="hamster__head">
                                <div class="hamster__ear"></div>
                                <div class="hamster__eye"></div>
                                <div class="hamster__nose"></div>
                            </div>
                            <div class="hamster__limb hamster__limb--fr"></div>
                            <div class="hamster__limb hamster__limb--fl"></div>
                            <div class="hamster__limb hamster__limb--br"></div>
                            <div class="hamster__limb hamster__limb--bl"></div>
                            <div class="hamster__tail"></div>
                        </div>
                    </div>
                    <div class="spoke"></div>
                </div>
            </div>



            <div class="row cards-container">
                <div class="card-holder">
                    <div id="image-container">
                        <p>Help us make a difference, one paw at a time.</p>
                        <img id="loading-image" src="/img/foster-cards-ph.webp" alt="Search for something!...">
                    </div>
                    <div id="profile-cards">
                        <!--                    <input  id="petIdInput" name="petId" value="">-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/browse.js}"></script>
<footer th:insert="partials/footer:: footer"></footer>

</body>
</html>
