<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="partials/header:: header"></div>
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Title</title>
</head>
<body>
<div class="page-wrapper">
    <nav th:insert="partials/navbar:: nav"></nav>
    <!--            USER PROFILE PAGE-->
    <div class="user-profile-container">

        <div class="profile-banner ">
            <div class="user-pic-badge">
                <div class="user-pic" th:if="${user != null}" th:text="${user.picture}"></div>
            </div>
            <!--        USER INFO AND EDIT BUTTON-->
            <div class="column user-info">
                <div class=" user-info-wrapper">
                    <h2 class="welcome-text"> Welcome, <span th:if="${user != null}" th:text="${user.username}"></span>!
                    </h2>
                    <div class="user-btns column">
                        <button type="button" class="edit-account-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Edit Info
                        </button>
                    </div>
                </div>
                <br>


                <!-- Button trigger modal -->
                <div class="modal fade edit-profile-modal" id="exampleModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="validation-error">
                            </div>
                            <div class="modal-body">
                                <h2 class="model-title">Edit Profile</h2>
                                <form th:action="@{/profile/edit}" th:method="post"
                                      class=" row d-flex justify-content-center p-5 edit-profile-form"
                                      th:object="${user}">
                                    <br>
                                    <input id="username" name="username" type="text" class="mb-1" th:field="*{username}"
                                           placeholder="Username"/>
                                    <br>
                                    <input id="email" name="email" type="email" class="mb-1" th:field="*{email}"
                                           placeholder="Email"/>
                                    <br>
                                    <input id="zipcode" name="zipcode" type="text" class="mb-1" th:field="*{zipcode}"
                                           placeholder="Zipcode"/>
                                    <br>
                                    <p class="update-alert">Alert: If you update your account you will be logged out</p>
                                    <!--                                    <input id="oldPassword" name="oldPassword" type="password" class="mb-1"-->
                                    <!--                                           placeholder="Current password"/>-->
                                    <!--                                    <br>-->
                                    <!--                                    <input id="newPassword" name="newPassword" type="password"-->
                                    <!--                                           placeholder="New password"/>-->
                                    <!--                                    <br>-->
                                    <input type="submit" class="edit-account-btn" value="Update Account"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--                USER BADGES-->
            <div class="user-badges-wrapper ">
                <h4 class="badge-text" th:if="${#lists.size(badges) > 0}">Acquired Badges:</h4>
                <div class="user-badges-container">
                    <div class="user-badge-card" th:each="badge : ${badges}">
                        <img class="badges-pic" th:src="@{|/img/${badge.img}|}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        ANCHOR TAGS-->
    <div class="row-buttons">
        <button class="view-tab-buttons" id="showFavorites">Show Favorites</button>
        <button class="view-tab-buttons" id="showFosters">Show Fosters</button>
        <button class="view-tab-buttons" id="showReviews">Show Reviews</button>
    </div>

    <!--        FAVORITES PAGE-->
    <div class="container vh-50 p-5 dash-favorite-container hidden">
        <div class="favorites-container">
            <h2 class="favorites-header favorites-header-js">Favorites:</h2>
            <div class="scrollable-container">
                <div th:each="favorite : ${favorites}" class="favorites favorites-cards">
                    <div class="cards-body">
                        <img class="favorites-pet-pic" th:src="${favorite.photo}">
                        <h5 class="card-title fav-pet-name"><span th:text="${favorite.name}"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="userFosters" class="dash-foster-container hidden">
        <div class="column foster-info">
            <div class="cards-hide active current-cards fosters-js" th:if="${current != null}"
                 th:object="${current}">
                <h2 class="profile-header current-foster-header-js">Current Foster: </h2>
                <div class="current-foster-card-container">
                    <img class="current-foster-pet-pic" th:src="${current.photo}">
                    <h4 class="current-foster-name" th:if="${current != null}" th:text="${current.name}"></h4>

                    <button type="button" class="complete-foster-btn" data-bs-toggle="modal"
                            data-bs-target="#review-modal">
                        Complete Foster
                    </button>
                </div>
            </div>
        </div>

        <div class="foster-container previousFostersHeader">
            <h2 class="profile-header">Previous Fosters:</h2>
            <div class="previous-foster-container"> <!-- Add this container -->
                <div id="prev-foster" class="previous-cards" th:each="foster: ${fosters}">
                    <div class="previous-foster-card">
                        <img class="previous-foster-pet-pic" th:src="${foster.photo}">
                        <h4 th:if="${foster.name != null}" th:text="${foster.name}"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="review-modal" tabindex="-1" aria-labelledby="fosterModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="review-modal-title">Leave your review here</h2>
                        <form th:action="@{/dashboard/review}" th:method="post" th:if="${review != null}"
                              th:object="${review}"
                              class=" row d-flex justify-content-center p-5">
                            <input id="foster-review-input" name="foster_review" class="form-control" type="text"
                                   th:field="${review.body}"
                                   placeholder="Enter your review"/>
                            <input type="submit" class="submit-review-btn" value="submit review"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    USERS REVIEWS PAGE-->

    <div class="dash-review-container hidden">
        <div class="reviews-container">
            <div th:each="review : ${reviews}" class="col-12 col-lg-6 col-xl-4 my-2">
                <div class="reviews-cards" th:review-id="${review.id}">
                    <div class="card-body review-card">
                        <img class="review-foster-pet-pic" th:src="${review.pet.photo}">
                        <h5 class="card-title review-pet review-pet-name"><span
                                th:text="${review.pet.getName()}"></span></h5>
                        <p class="card-text">Review: <span th:text="${review.body}"></span></p>
                        <!-- delete button -->
                        <form th:action="@{|/dashboard/review/delete/${review.id}|}" th:method="POST">
                            <button class="delete-review-btn">Delete Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
<footer th:insert="partials/footer:: footer"></footer>
</body>
</html>
