<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="partials/header :: header"></th:block>
    <meta charset="UTF-8">

    <title>Landing Page</title>

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/loading.css">

</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<div class="page-wrapper" id="content-container">
    <div class="hamsterLoadingContainer" id="loading-ham">
        <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster" id="hamsterLoader">
            <div class="hamster-loader">

                <div class="wheel"></div>
                <div class="hamster">
                    <div class="hamster__body">
                        <div class="hamster__head">
                            <div class="hamster__ear"></div>
                            <div class="hamster__eye"></div>
                            <div class="hamster__nose"></div>
                        </div>
                        <div class="hamster__limb hamster__limb--fr"></div>
                        <div class="hamster__limb hamster__limb--fl"></div>
                        <div class="hamster__limb hamster__limb--br"></div>
                        <div class="hamster__limb hamster__limb--bl"></div>
                        <div class="hamster__tail"></div>
                    </div>
                </div>
                <div class="spoke"></div>
            </div>
        </div>
    </div>
    <div class="container-dog" >
        <!-- Background image and container with text overlay -->
        <div class="background-container">
        <div class="col">
            <div class="text-overlay">
                <div class="landing-text title-text">
                    <p class="logo">Making fostering a breeze</p>
                    <p class="motto">Joining Hearts, Creating Homes. Together, we can</p>
                    <p class="motto">make a difference, one furry friend at a time.</p>
                    <a href="/sign-up">
                        <button class="btn-login">Sign Up</button>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
<!--<svg class="blue-svg" viewBox="0 -20 700 110" width="100%" height="110" preserveAspectRatio="none">-->
<!--    <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"-->
<!--          fill="rgba(213, 236, 250, 0.58)"/>-->
<!--    <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#DBEFFA"/>-->
<!--</svg>-->
<div class="container-fluid foster">

<!--    <div class="jumbo-title">-->
<!--        <div class="bkg-dog"></div>-->
<!--        <img class="bluedog" src="/img/bluedog.png">-->
<!--    </div>-->
    <div class="foster-content row">
        <h1 class="foster-tittle title-text">Fostering</h1>
        <h3 class="foster-tittle body-text"> Welcome A Furry Friend Into Your Home!</h3>
        <p class="body-text">
            You're only a click away from experiencing a beautiful journey of love, care, and companionship. Join us in
            our commitment to providing warmth, love, and security to every pet that deserves a brighter tomorrow.
        </p>
        <div>
            <a class="anchor-btn" href="/browse">
                <button class="btn-jumbotron body-text">Foster</button>
            </a>
        </div>
    </div>
</div>
<div class="content">

<!--    <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 164.406">-->
<!--        <path class="wave" d="M0,338c181,118,329-22,500,0V501H0V338Z" transform="translate(0 -335.594)"/>-->
<!--    </svg>-->

    <div class="first-row">
        <div class="image-stuff">
            <div class="heart"></div>
        </div>

        <div class="first-row-text-content">
            <h1 class="adopt-title title-text">Adopt</h1>
            <h3 class="adopt-title body-text">Be An Animal's Fur-Ever Home!</h3>
            <p class="body-text">
                While our site does not directly facilitate adoptions, we proudly partner with ASPCA. By choosing to
                adopt through ASPCA, you support their mission of rescuing and caring for animals in need, ensuring they
                find their forever homes.
            </p>
            <a  class="anchor-btn" href="https://www.aspca.org/adopt-pet" target="_blank" rel="noopener norefer">
                <button class="btn-adopt body-text">Adopt</button>
            </a>
        </div>
    </div>
    <svg class="top-svg3" width="100%" height="80px" viewBox="0 0 1200 80" preserveAspectRatio="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0 .012c.299-.297 60.19 4.653 122.953 27.692 42.692 15.67 121.585 52.308 168.7 52.308 116.378 0 148.543-80 308.347-80 159.804 0 223.344 80 350 80 57.59 0 103.285-27.499 159.848-52.308 17.579-7.71 47.63-16.941 90.152-27.692"
              fill="#FFFFFF"/>
    </svg>


    <div class="second-row">
        <div class="first-row-text-content">
            <h1 class="outreach-title title-text">About Us</h1>
            <h3 class="outreach-title body-text">Who is Kyte Rescue?</h3>
            <p class="body-text">
                In our mission to create a better world for our furry friends, outreach is at the heart of what we do.
                Kyte Rescue is a beacon of hope for animals in need, connecting loving homes with pets waiting for their
                forever families.
            </p>
            <a class="anchor-btn" href="/about">
                <button class="btn-outreach body-text">Learn More</button>
            </a>
        </div>
        <div class="image-stuff">
            <img class="doggy" src="/img/doggy.png">
        </div>
    </div>
    <svg class="bottom-svg3" width="100%" height="80px" viewBox="0 0 1200 80" preserveAspectRatio="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M0,80 C0.298702804,80.2975827 60.1901843,75.3474246 122.953125,52.3085938 C165.644815,36.6374572 202.885785,-3.10412977e-13 250,-3.10862447e-13 C366.378906,-3.10862447e-13 440.195667,80 600,80 C759.804333,80 823.34375,-3.09752192e-13 950,-3.10862447e-13 C1007.58952,-3.10862447e-13 1053.2854,27.4992709 1109.84766,52.3085938 C1127.42704,60.0192583 1157.47782,69.2497271 1200,80"
              fill="#FFFFFF"></path>
    </svg>
</div>
</div>
<script src="/js/image-loader.js"></script>
    <footer th:insert="partials/footer"></footer>
</body>
</html>






