<nav th:fragment="nav" class="navbar navbar-expand-md navbar-dark fixed-top" id="myNavbar">
    <div class="container-fluid">

        <!--                INSERT COMPANY LOGO-->
        <div class="d-flex justify-content-center align-items-center">

        <img class="navbar-brand Logo" href="/" src="/img/logo.png">
        <a class="navbar-brand title-text" href="/">Kyte Rescue</a>
        </div>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="navbarOffcanvasLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav-items d-flex gap-3">
                <li><a class="nav-anchor" href="/browse">Browse</a></li>
                <li><a class="nav-anchor" href="/about">About</a></li>
                <li><a class="nav-anchor" href="https://secure.aspca.org/donate/ps-gn-p2?ms=MP_PMK_Googlebrand&initialms=MP_PMK_Googlebrand&pcode=WPSN7GO2PK01&lpcode=WPSN7GO1PK01&test&ds_rl=1066461&gad=1&gclid=CjwKCAjw9-6oBhBaEiwAHv1QvD9ozAHSPTXea0-ArbOHAJJn0SomEDqvrPVDfbaAhAUbNF6cIke6kRoCPCwQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener norefer">Partners</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-anchor" href="/login">Login</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-anchor" href="/dashboard">Dashboard</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>