<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="~{partials/header :: header}"></div>
    <meta charset="UTF-8">
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<nav th:insert="~{partials/navbar :: nav}"></nav>
<div class="page-wrapper ">
    <div class="background-img">
        <div class="container my-5 p-5 d-flex justify-content-center">
            <div class="row d-flex justify-center row-gap-3">
                <h2 class="login-header">Log In</h2>
                <form th:action="@{/login}" method="post" class="login-form-wrap" id="form">
                    <h6 class="sign-up-redirect">Username</h6>
                    <label for="username"></label>
                    <input id="username" name="username" type="text" />
                    <span id="usernameError" class="error text-danger"></span>
                    <br>

                    <h6 class="sign-up-redirect">Password</h6>
                    <label for="password"></label>
                    <input id="password" name="password" type="password" />
                    <span id="passwordError" class="error text-danger"></span>
                    <br>

                    <input type="submit" class="login-button" value="Log In"/>
                    <a class="sign-up-redirect" href="/sign-up">Not a Member? Sign up here!</a>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>
<script src="/js/login-validation.js"></script>
</body>
</html>